[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
numpy = "*"
pandas = "*"
dask = "*"
matplotlib = "*"
pillow = "*"
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl"}
torchvision = "*"
tensorflow = "==2.0.0-alpha0"
kaggle = "*"
ipython = "*"
ipyparallel = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
jupyterthemes = "*"
jupyter-http-over-ws = "*"
isort = "*"
autopep8 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
